* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --primarycolor: #001033;
    --secondcolor: rgba(0, 0, 0, 0.192);
    --thirdcolor: #012f92;
    --textoprimario: "Oswald", sans-serif;
    --textosecundario: "Open Sans", sans-serif;
    --shadow: rgba(0, 0, 0, 0.75);
  }
  a {
    text-decoration: none;
    color: var(--thirdcolor);
    transition: all 0.3s ease;
  }
  a:hover {
    color: black;
  }
  body {
    font-family: var(--textosecundario);
    background-image: url("fondo.png");
    background-attachment: fixed;
  }
  .title h1 {
    color: white;
    font-family: var(--textoprimario);
    font-size: 68px;
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
    text-shadow: 3px 2px 2px var(--thirdcolor);
  }
  .container {
    background: whitesmoke;
    border-radius: 24px;
    box-shadow: 7px 13px 37px var(--primarycolor);
    width: 80%;
    max-width: 900px;
    margin: 1.6em auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(9, auto);
  }
  .image,
  .personal,
  .contact,
  .about {
    background: var(--secondcolor);
    padding: 0 25px 25px;
    grid-column: 1 / span 1;
  }
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 25px 0px;
  }
  .image-image {
    background: center / contain no-repeat url(foto.jpeg);
    border-radius: 50%;
    border: 1px solid var(--primarycolor);
    box-shadow: 8px 16px 32px 0px var(--shadow);
    height: 200px;
    width: 200px;
  }
  .personal .name {
    font-size: 28px;
    font-style: oblique;
    color: var(--primarycolor);
    margin-bottom: 30px;
  }
  .personal p,
  .contact p,
  .about p {
    text-align: center;
    margin: 8px 0;
  }
  .contact h2,
  .about h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
  }
  .about {
    grid-row: 4 / 10;
  }
  .education,
  .formation,
  .experience,
  .languages,
  .references {
    padding: 0px 30px;
    grid-column: 2 / span 2;
  }
  .education h2,
  .formation h2,
  .experience h2,
  .languages h2,
  .references h2 {
    text-align: start;
    font-size: 32px;
    color: var(--primarycolor);
  }
  .education p,
  .formation p,
  .experience p,
  .languages p,
  .references p {
    margin: 10px 0;
  }
  .accent {
    color: var(--thirdcolor);
  }
  .education {
    grid-row: 1 / span 2;
    padding-top: 50px;
  }
  .education-article,
  .formation-article,
  .experience-article,
  .languages-article,
  .references-article {
    margin: 25px 10px 55px 45px;
    background: var(--secondcolor);
    box-shadow: 7px 13px 37px #000;
    border-radius: 12px;
    padding: 25px;
  }
  .formation {
    grid-row: 3 / span 2;
  }
  .experience {
    grid-row: 5 / span 1;
  }
  .experience .experience-article li {
    margin: 8px 65px;
  }
  .languages {
    grid-row: 6 / span 1;
  }
  .languages .languages-article li {
    margin: 5px 25px 0;
  }
  .references {
    grid-row: 7 / span 3;
  }
  footer p {
    color: white;
    font-family: var(--textoprimario);
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
    text-shadow: 3px 2px 2px var(--thirdcolor);
  }
  @media screen and (max-width: 768px) {
    .container .image,
    .container .personal,
    .container .contact,
    .container .about,
    .container .education,
    .container .formation,
    .container .experience,
    .container .languages,
    .container .references {
      grid-column: 1/-1;
      grid-row: span 1;
    }
    .container h2 {
      text-align: center;
    }
    .education-article,
    .formation-article,
    .experience-article,
    .languages-article,
    .references-article {
      margin: 25px 10px 55px;
      text-align: center;
    }
  }
  